.centered {
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
    width: 100%;
    text-align: center;

    th,
    td {
        width: 1%;
        border: 2px solid;
        border-color: rgba(128, 207, 137);
        font-size: larger;
        box-shadow: 0 0 10px rgba(202, 187, 245) inset;
    }
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.8%;
    width: 100%;
    text-align: center;
    font-size: 200%;
    background-color: rgb(248, 249, 250);
    border: 2px solid rgb(29, 67, 33);
}

tr {
    height: 70px;
}

thead {
    font-size: 120%;
    background-color: rgba(202, 187, 245);
}

tr:nth-child(even) {
    background-color: rgba(202, 187, 245, 0.399);
}

.funkyhead {
    margin-left: 1%;
    font-size: 500%;
    color: rgb(29, 67, 33);
    font-weight: bold;
    font-family: 'Playfair Display';
    src: url('PlayfairDisplayRegular-ywLOY.ttf');
}

.funkyheadPANTS {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplayRegular-ywLOY.ttf');
    margin-left: 1%;
    font-size: 220%;
    font-weight: bold;
    color: rgb(29, 48, 18);
    letter-spacing: 4px;
}

body {
    background-color: rgba(245, 236, 187, 0.617);
    padding-bottom: 5%;
}

.card {
    border-radius: 15px;
    background-color: rgba(212, 200, 244, 0.664);
    margin: 2%;
}

.sb {
    border-radius: 15px;
    background-color: rgba(245, 236, 187);
    transition-duration: 0.4s;
    width: 20%;
    height: 40px;
    font-size: 120%;
    font-weight: bold;
    border-color: rgba(183, 25, 15);
    border: 2px solid;
    color: rgba(183, 25, 15);
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

.sb:hover {
    background-color: rgba(183, 26, 15, 0.79);
    color: rgba(245, 236, 187);
}

.sb-long {
    background-color: rgba(245, 236, 187);
    transition-duration: 0.4s;
    width: 100%;
    height: 40px;
    font-size: 120%;
    font-weight: bold;
    border-color: rgba(183, 25, 15);
    border: 2px solid;
    color: rgba(183, 25, 15);
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 1%;
}

.sb-long:hover {
    background-color: rgba(183, 26, 15, 0.79);
    color: rgba(245, 236, 187);
}

.homebar {
    width: 27%;
}

.homep {
    font-weight: bold;
    color: rgb(45, 61, 36);
    font-size: 130%;
    padding: 1%;
    text-align: center;
}

.default-text-bold {
    color: rgb(45, 61, 36);
    font-size: 130%;
    text-align: left;
    font-weight: bold;
}

.default-text {
    color: rgb(45, 61, 36);
    font-size: 130%;
    text-align: left;
}

img {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    border-radius: 15%;
}

.home .img {
    margin: 0%;
}

.logout-button {
    color: rgba(183, 25, 15);
    background-color: rgba(245, 236, 187);
}

.sb-long:hover {
    background-color: rgba(183, 26, 15, 0.79);
    color: rgba(245, 236, 187);
}

nav {
    border: 2px solid rgb(29, 67, 33);
}
